body{
    background: #aaaaaa;
    margin: 0%;
    font-family:'Exo 2', sans-serif;
}


.back{
    margin: 0 10%;
    margin-bottom: 30;
    height: 100%;
    background: #dfdfdf;

}


.header {
    margin-top: 0%;
    width: 100%;
    background: linear-gradient(to bottom, #505050, #252229);
    text-align: center;
    position: fixed;
    color: #C1E1F9;
    border: 5px;
}
.header p{
    font-size: x-large;
}


.heading{
    width: 100%;
    height: 40;
    background: linear-gradient(to bottom, #505050, #252229);
    text-align: center;
}
.heading p{
    padding: 10 0;
    font-size: larger;
    color: #dfdfdf;
}


.buttonc{
    padding: 10 30;
    margin: 0;
}
.buttonc input{
    width: 150;
    margin: 0 8;
    padding: 10 10;
    border: 2px;
    border-color: rgba(128,128,128,0);
    background: #618199;
    border-style: solid;
    text-align: center;
    color: #ffffff;
    font-size: small;
}
.buttonc input:hover{
    background: #9AB5D9;
    border: 20;
    border-style: solid;
    border-color: #618199;
    cursor: pointer;
}


.pdf{
    align-items: center;
    padding: 20 5%;
    width: 90%;
    height: 83%;
}


iframe{
    border: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background: #252229;
    color: #C1E1F9;
    height: 70px;
    width: 100%;
    text-align: center;
    margin: 0 0;
    padding: 0;
    align-items: center;
}
.footer p{
    padding-top: 30;
}